.centerd-card-Stretched{
  position: relative;
  position: fixed;
  top: 50%;
  left: 0%;
  width: 100%;
  height: 65px;
}

.not-selected-text{
  color:white;
  position: relative;
  position: fixed;
  top: 60%;
  left: 45%;
  text-decoration: none ;
}
.not-selected-text:hover
{
 color:rgb(62, 144, 221);
 text-decoration:none;
 cursor:pointer;
}
