<div class ="bg">
    <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>menu</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item [routerLink]="['']" routerLinkActive="active">
          <mat-icon>home</mat-icon>
          <span>Home Page</span>
        </button>

        <button mat-menu-item [routerLink]="['/not-found']" routerLinkActive="active">
          <mat-icon>error</mat-icon>
          <span>Error page</span>
        </button>

        <button mat-menu-item [routerLink]="['/achivements']" routerLinkActive="active">
          <mat-icon>view_list</mat-icon>
          <span>achivements</span>
        </button>

      </mat-menu>
  <router-outlet></router-outlet>
</div>
