<!-- <mat-card>
  <mat-card-header>
    <div mat-card-avatar class="card-icon"></div>
    <mat-card-title>{{ achivement.gameMode }}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    content : {{ achivement.content }}
  </mat-card-content>
  <mat-card-content>
    requierements : {{ achivement.requierements }}
  </mat-card-content>
</mat-card>   Card Option is not optimal!!-->
<mat-list-item mat-list-item>
    <img matListAvatar src="./../../../assets/CommanderIcon.jpg" alt="no image">
      <h4 mat-line>{{achivement.gameMode}}</h4>
      <p mat-line> {{achivement.content}} </p>
      <p mat-line>{{ achivement.requierements }}</p>
</mat-list-item>
<hr>
