<mat-grid-list cols="2" rowHeight="300px">
    <mat-card-title [@fadeInAnimation]>
        <p class="parWhite">this site was made by Guild Wars 2 fans in order to support growing community</p>
    </mat-card-title>


    <mat-grid-tile>
            <div [@fadeInAnimation] class="text-inside-grid">
                <mat-card class="card-custom"
                [@Onselected]="selected ? 'selected' : 'unSelected' ">
                    <mat-card-header>
                        <div mat-card-avatar class="card-icon"></div>
                        <mat-card-title>GW2</mat-card-title>
                        <mat-card-subtitle>Dailys Portal Actions</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content align="center">
                      <button [routerLink]="['/achivements']">Get My Dailys</button>
                    </mat-card-content>
                  </mat-card>
                  <br>
                  <div align="center">
                    <button mat-raised-button (click)="toggle()">Color Change</button>
                  </div>
            </div>
    </mat-grid-tile>
</mat-grid-list>


