<mat-grid-list cols="2" rowHeight="300px">

    <mat-card-title>
        <p class="parWhite">this site was made by Guild Wars 2 fans in order to support growing community</p>
    </mat-card-title>

    <mat-grid-tile>
            <div class="text-inside-grid">
                <mat-card class="card-custom">
                    <mat-card-header>
                        <div mat-card-avatar class="card-icon"></div>
                        <mat-card-title>GW2</mat-card-title>
                        <mat-card-subtitle>Dailys Portal Actions</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content align="center">
                      <button mat-stroked-button>Get My Dailys</button>
                    </mat-card-content>
                  </mat-card>
            </div>
    </mat-grid-tile>
</mat-grid-list>
